@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  overflow-y: visible;
  scroll-behavior: smooth;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 20px;

  width: 100vw;
}


p {
  margin: 0;
}

* {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 300;
}