@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body{
  height: 100%;
  animation: 1.5s ease-out 0s 1 FadeIn;
}


@keyframes FadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}


html, body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;

  width: 100%;
  overflow-y: visible;
  scroll-behavior: smooth;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}


p {
  margin: 0;
}

a {
  color: rgb(75, 105, 255) !important;
}

* {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 300;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}