:root {
    --primary: #FFFFFF;
    --contrast: #0D0D0D;
    --pop: #0A40FF;
}

.moon {
    height: 20rem;
    width: 20rem;
}

.stars {
    position: relative;
}

.star {    
    position: absolute;
}

.star img {
    filter: invert(21%) sepia(96%) brightness(0%) saturate(6521%) hue-rotate(233deg) contrast(106%) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.44));
}

.star .icon:hover {
    cursor: pointer;
}

.star .icon:hover ~ .line, .star .icon:hover {
    filter: invert(21%) sepia(96%) brightness(100%) saturate(6521%) hue-rotate(233deg) contrast(106%) drop-shadow(0px 4px 6px var(--pop));
}

.star .icon:hover ~ .line, .star .icon:hover ~ p {
    opacity: 1;
}

.star.active .line, .star.active .icon {
    filter: invert(21%) sepia(96%) brightness(100%) saturate(6521%) hue-rotate(233deg) contrast(106%) drop-shadow(0px 4px 6px var(--pop));
}
.star.active .line, .star.active p {
    opacity: 1;
}

.star p {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    color: black;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    left: 2rem;
    bottom: 6rem;
}

.star .name {
    font-size: 1rem;
}

.star .subname {
    font-size: 0.9rem;
}

.star .icon {
    transition: filter 0.4s ease-in-out;
    height: 2rem;
    width: 2rem;
}


.star .line {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    position: relative;
    left: 1rem;
    bottom: 3rem;    
    height: 1.7rem;

    z-index: -1 ;
}